# Unity generated
/Library
/Temp
/Logs
/Packages
/*.csproj
/*.sln
# VS junk
.vs
obj
obj.meta
bin
/Build
/ProjectSettings
**/xdoc4

# Don't include source assets
*.blend
*.blend.meta
*.blend1
*.blend1.meta
*.xcf
*.xcf.meta

