# Unity generated
/Library
/Temp
/Logs
/UserSettings
/*.csproj
/*.sln
# VS junk
.vs
.vsconfig
obj
obj.meta
bin
/Build
**/xdoc4

# Don't include source assets
*.blend
*.blend.meta
*.blend1
*.blend1.meta
*.xcf
*.xcf.meta

# Don't include packages, the user can fetch these themselves.
/Assets/TextMesh Pro.meta
/Assets/TextMesh Pro/

kenneyDungeonPack_2.3*
